{#
/**
 * @file
 * Default theme implementation for flag links.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - title: The flag link title.
 * - action: 'flag' or 'unflag'
 */
#}

{% if action == 'unflag' %}
  {% set attributes = attributes.addClass('action-unflag') %}
{% else %}
  {% set attributes = attributes.addClass('action-flag') %}
{% endif %}

<a{{ attributes.addClass('flag') }}>{{ title }}</a>
